.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-left {
    background-color: white;
    color: gray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex: 0.4;
    min-width: 70px;
    height: 15px;
}

.header-left > input {
    border: none;
    width: 100%;
}


.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-right > h4 {
    margin-left: 10px;
    font-size: 12px;
}