.footer {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 98%;
    background-color: #282828;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}

.footer-left > img {
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-right: 20px;
}

.footer-left-songInfo > h4 {
  margin-bottom: 5px;
}

.footer-left-songInfo > p {
    font-size: 12px;
}

.footer-center {
    flex : 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer-center > .footer-green {
    color: green;
}

.footer-green,
.footer-icon:active {
    color: green
}

.footer-icon:hover,
.footer-green:hover {
    transition : transform 0.2s ease-in-out;
    transform : scale(1.2) !important
}


.footer-right{
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    color: white;
}

.footer-right * .MuiSlider-root {
    color: green;
}